/* Here is your custom css styles. */
*{
    cursor: url("/medias/images/rainbow_cross.cur"),auto!important;
}
:active{
    cursor: url("/medias/images/rainbow_cross.cur"),auto!important;
}


/* 滚动条 */
::-webkit-scrollbar-thumb {
    background-color: #03A9F4;
    background-image: -webkit-linear-gradient(45deg,rgba(255,255,255,.4) 25%,transparent 25%,transparent 50%,rgba(255,255,255,.4) 50%,rgba(255,255,255,.4) 75%,transparent 75%,transparent);
    border-radius: 3em;
}
::-webkit-scrollbar-track {
    background-color: #E1F5FE;
    border-radius: 3em;
}
::-webkit-scrollbar {
    width: 8px;
    height: 15px;
}
